/* FOOTER */
footer {
    background-color: #f8c8dc;
    color: #a2006d;
    text-align: center;
    padding-top: 20px;
    font-family: Arial, sans-serif;
    margin-top: 50px;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px 0;
}

.contacto h3, .redes h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.contacto p {
    margin: 5px 0;
}

.iconos a {
    display: inline-block;
    margin: 0 8px;
    text-decoration: none;
    background-color: #a2006d;
    color: white;
    font-weight: bold;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    transition: 0.3s;
}

.iconos a:hover {
    background-color: white;
    color: #a2006d;
    border: 2px solid #a2006d;
}

.copy {
    background-color: #ffc0cb;
    padding: 10px;
    font-size: 14px;
    margin-top: 10px;
}







/* FOOTER */
footer {
    background-color: #f8c8dc;
    color: #a2006d;
    text-align: center;
    padding-top: 20px;
    font-family: Arial, sans-serif;
    margin-top: 50px;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px 0;
}

.contacto h3, .redes h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.contacto p {
    margin: 5px 0;
}

.iconos a {
    display: inline-block;
    margin: 0 8px;
    text-decoration: none;
    background-color: #a2006d;
    color: white;
    font-weight: bold;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    transition: 0.3s;
}

.iconos a:hover {
    background-color: white;
    color: #a2006d;
    border: 2px solid #a2006d;
}

.copy {
    background-color: #ffc0cb;
    padding: 10px;
    font-size: 14px;
    margin-top: 10px;
}